# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zkwkfhdyqwotijjhsegj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inprd2tmaGR5cXdvdGlqamhzZWdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQwMzAyNDcsImV4cCI6MjA4OTYwNjI0N30.bONJjId21B0mAJN_wlYuuXJaO48hQnXcDHN8r5jpxts

# Stripe
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY
STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_WEBHOOK_SECRET=whsec_YOUR_WEBHOOK_SECRET
NEXT_PUBLIC_APP_URL=http://localhost:3000
